{% set schema = 'itemscope="" itemtype="http://schema.org/AboutPage"' %}
{% set keywords = 'About, Logging, notes, projects, Management' %}
{% set description = 'About Logger' %}
{% extends '@content/page.twig' %}

{% block css %}
{% endblock css %}

{% block header %}
    <div class="col-md-12 mt-5">
        <h2>A logging tool for developers, built by Callum Parton with The Framework </h2>
    </div>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-9 mr-auto">
            <p class="text-left">Information about the Framework is available at <a href="http://catless.ncl.ac.uk/framework">http://catless.ncl.ac.uk/framework</a></p>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
