{% extends '@content/page.twig' %}

{% block css %}
{% endblock css %}

{% block header %}
    <section class="col-md-12 mt-5">
        <h1 class="text-center">Welcome to logger</h1>
        <h2 class="text-center text-muted">Take notes on your projects<h2>
    </section>
{% endblock header %}

{% block main %}
    <section class="row">
        <aside class="col">
        </aside>
        <article class="col-md-8">
            <div class="jumbotron">
            {% if context.hasuser %}
                <p>Go to your <a href="{{base}}/projects">projects</a></p>
            {% else %}
                <p>Please sign in to continue</p>
            {% endif %}   
            </div>
        </article>
        <aside id="rightbar" class="col">
        </aside>
    </section>
{% endblock main %}

